html,body{
     background-color: cadetblue;
     padding:0;
     margin:0;
     font-size:20px;
     box-sizing: border-box;
     width:100vw
   
}
.img-round{
 border-radius:50%;
 height:300px;
 width:350px;
}
   
.frame{
 margin:auto;
 width:max-content;
 text-align: center;
 background-image:linear-gradient(
to right, 
white,
#F68B1D,
pink,
red,
blue,
green,
yellow,
violet,
#00AAC3
);
animation:slide 10s linear infinite;
border-radius:20px;
}
.name{
     text-align: center;
     background-image:linear-gradient(-200deg,
     green 30%,
     yellow 50%,
     red 85%,
     white 70%,
     blue 80%,
     pink 100%);
     font-size: 60px;
     }

header{
width:95vw;
height:5vh;
background-color: aqua;
padding-top:2vh;
padding-left:5vw;
}
header a{
font-size:20px;
border-radius:10px;
text-decoration: none;
padding: 2px 10px; 
color:black; 
border-radius: 15px;
border: 5px solid red;
      }
header a:hover{
     box-shadow: 0 0 10px;
}  
main{
    width:100vw;
}
.intro{
padding-left:5vw;
  }
h2,h3{
margin-left: 30px;;
padding: 10px 10px;
color:yellow;
background-color:black;
width:max-content;
border-radius: 1px;
border: 4px solid rgb(241, 182, 6);

}

.offset{
text-underline-offset:0.3em; 
font-size:2em;
padding-left:5vw;
}
.ul-course{ 
border:5px solid;
list-style-type:none;
background-color:green;
width: 25vw;
padding:0;
margin: 5vw;    
    } 
.decoreless{
 list-style-type:none;
}

.hobby{
background-color: darkseagreen;
padding:0;
margin:0;
}

ol{
 font-size:30px;
}

.movies{border:10px solid brown;
 border-radius: 20px;
 background-image:url(https://media.istockphoto.com/id/1340577488/photo/girl-enjoying-watching-a-nice-movie-at-the-cinema.jpg?b=1&s=170667a&w=0&k=20&c=nTxetqtXrl-mlOgG6Fgtpgd_8JbogYRp5F2TXZNmkkE=);
 width:60vw;
 height:30vh;
 padding:0;
 margin:10px;
 font-size:20px;

}

.inside-movies{
border:none;
list-style-type:lower-roman;
background-color:transparent;
width: max-content;
padding:0;
margin:0 40px;
color: rgb(149, 244, 6);
}

.text a{
font-size:20px;
font-weight:bold;
color:rgb(149, 244, 6);
}

.books{
border:10px solid black;
border-radius:20px;
list-style-type:none;
background-image: url(https://images.squarespace-cdn.com/content/v1/54d8f3b4e4b04def03ef0878/1556104982134-6LUAOFH4OSYW1XBAAKVA/library%2520books.jpg);
width:60vw;
height:30vh;
padding:0;
margin:10px;
}
.outside-books {
list-style-type:lower-roman;
font-size:20px;
}
.pingpong-li{
padding-top:2vh;
}
.pingpong-note{
     font-size:20px;
     padding-bottom:1vh;
}
.pingpong-photo{
 border:10px solid brown;
 border-radius: 20px;
 list-style-type:none;
 background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtLRIXMreTXoYg30su2Ra6ANLnZqSLPfbCRw&usqp=CAU);
 width:60vw;
 height:30vh;
 padding:0;
 margin:10px;
 font-size:20px;
}  
li a {
display:block;
padding:5px 20px;
text-decoration:none;
text-align:left;
}

li a:hover{
background-image:linear-gradient(
to right, 
white,
#F68B1D,
pink,
violet,
#00AAC3
);
animation:slide 2s infinite;
color:rgb(2, 10, 246);
font-weight:bold;
font-size:larger;
text-decoration:underline;
}
@keyframes slide {
to {
background-position:20vw;
}
}

.row{
display:inline-flex;
width:94vw;
}

.column-1{ 
display:inline-flex;
width:47vw;
}
.mood{
width:35vw;
height:35vh;
border:solid black;
}
.text{
     align-self:flex-end;
     margin-right:1vw;
     margin-left:5vw;
}
.neighbors{
     padding-left:5vw;
}

.subtitle{
margin:10px;
color:rgb(149, 244, 6); 
font-size:25px;
font-weight:bold;  
text-underline-offset:0.2em; 

}

.tooltip {
position: relative;
display:inline-block;
}
.tooltip .tooltiptext {
position: absolute;
visibility: hidden;
width: 200px;
color: black;
text-align: center;
border-radius: 50%;
padding: 10px;
top:35px;
left:300px;
}
.tooltip:hover .tooltiptext {
visibility: visible;
background-image:linear-gradient(
to right,
white, 
#E7484F,
#F68B1D, 
#FCED00,
#009E4F,
#00AAC3,
#732982
);
}

.extra::first-line{
color:white;
font-variant:small-caps;
}

.descending{transform: rotate(180deg);

}
.descending li{transform:rotate(-180deg);}

.extra-1{
float: left;
line-height: 60%;
width: 1em;
font-size: 300%;
font-family:Arial, sans-serif;
}
.extra-2{
margin:0;
padding:0;
list-style-type: none;
}
.extra-3{
display:inline-block;
transform: scale(-1, 1);
color:blue;
}

.animate-charcter{
background-image:linear-gradient(-200deg,
green 10%,
yellow 20%,
red 25%,
#231557 30%,
#44107a 40%,
red 50%,
white 70%,
blue 90%,
pink 100%);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 5s linear infinite;
font-size: 5vw;
}
@keyframes textclip {
to {
background-position: 200% center;
}
}

footer{
background-color: purple;
color:white;
padding-top: 5px;
width:100vw;
}
pre{
font-size:1vw
}
.mail{
color:yellow;
background-color:black;
text-decoration:none;
padding:2px 20px 5px 10px;
font-size:1vw;
}

.gapper{
width:20vw;
}
.column-2{ 
display:inline-flex;
align-items: center;
} 
.meditation{
width:10vw;
height:8vh;
padding-right:10vw;
}
.validator{
padding-left:2vw;
width:10vw;
height:5vh;
}
     