body{
    width:100vw;
    height:100vh;
    margin:0;
   
}
main{
    padding-left:20px;
}
header{
    width:100vw;
    height:5vh;
    background-color: aqua;
    padding:10px;
   
}
header a{
    font-size:15px;
    border:8px solid red;
    border-radius:10px;
    text-decoration: none;
    padding: 2px 5px;
    margin-right:5vw;
  
}
header div {
    position:absolute;
    top:3%;
}

a:link{text-decoration:none;}
footer {
    background-color: rgb(233, 229, 229);
    padding: 30px;
    font-size:10%;
    text-align:left
}
  
footer{
    position:fixed;
    bottom:0;
    width:100vw;
}