body{
    margin:0;
}
header {
    background-color: rgb(140, 242, 147);
    padding: 10px;
    text-align: center;
    color: rgb(87, 12, 56);
    
  }
  .list{
    font-size:30px;
  }
a:link{text-decoration:none;}

footer {
    background-color: rgb(233, 229, 229);
    position:fixed;
    bottom:0;
    width:100vw;
    height:12vh;

  }
  footer div{
    display:inline-flex;
}
footer div div{
  padding-right:20vw;
  align-items:center;
}
pre{
  font-size:15px;
}