
 body{
    margin: 0;
    box-sizing: border-box;
}
.mainsection{
    margin-left: 25vw;
    margin-right:25vw;
    padding-left: 0;
    font-size: 11pt;
    font-family:Georgia, Garamond,serif;
    line-height: 1;
    background-image: url('../images/pie/silverware.jpg');
    background-position: right;
    background-repeat:repeat-y;
    background-attachment:fixed;
    color: #404040;
    
}
.heading{
    width:100vw;
    height:5vh;
    background-color: aqua;
    padding-top:2vh;
    padding-left:5vw;
   
}
.heading a{
    font-size:20px;
    border-radius:10px;
    text-decoration: none;
    padding:2px 10px; 
    color:black; 
    border-radius: 15px;
    border:5px solid red;
          }
    header a:hover{
         box-shadow: 0 0 10px;
    }  
 .titles h1,h2{
    color: #A4A400;
    background-color: #F0F0F0;
    width:auto;
    text-decoration: underline;
    font-weight:normal;
    font-family:'Lucida Sans Unicode',Helvetica, Arial, sans-serif;
    padding:0;
    text-align: left;
    padding-top:5px;
}

header.titles>h1{
    font-size: 22pt;
    text-align: center;
    font-weight:bold;
}

.cancled_word{
    text-decoration: line-through;
}
.pie{width:250px; 
    height:220px;}
.recipe_1{
    list-style-type:none;
    margin:0;
} 
.comment{
    background-color: rgba(255, 255, 0, 0.356);
    font-style: italic;
   margin-left:4vw;
   margin-right:4vw;
}

ul li{
    list-style-image: url('./images/pie/pie_icon.gif');
    text-decoration: none;
}

#copy_text{
    margin-left: 0;
}
pre{
    text-align:right;
    white-space:pre-line;
}
.list-pre{
    text-align:left;
    white-space:pre-line; 
}
.validator-image{
    width:88px; height:31px;
}
.otherpie{
   color:#A4A400;
}
