*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
}
header{
    background-color:lightskyblue;
    width:100vw;
    height:8vh;
    text-align:center;
    font-size: 1.5vw;
    padding-top:1vw;
}
.intro{
    margin-top:2vh;
    font-size: 20pt;
    width:80vw;
    border: solid rgb(162, 162, 244);
    box-shadow: 5px 5px rgb(197, 189, 189);
    margin-left:auto;
    margin-right:auto;
}
.intro p{
    padding:1vw;
}
.forms{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    font-size:20px;
    margin-top:5vh;
    border:1vw solid rgba(46, 24, 24, 0.814);
    border-radius: 2vw;
    padding:2vw;
    background-color: antiquewhite;
  
    
}
input{
  margin-top:2vw;
  margin-right:1vh;
  padding-left:1vw;
  width:20%;
  height:3vh;
  border-radius: 10px;;
  background-color: bisque;
  

}
.aline{
    padding-left:10vw;
   
}
footer{
    position:absolute;
    bottom:0;
    background-color: khaki;
    font-size:small;
    width:100vw;
    height:4vw;
}
footer>div{
    display:inline-flex;
    width:100%;

}
.beginfooter{
    flex:3;
    text-align: center;
    padding-top:1vw;

}
.midfooter{
flex:7;
text-align: center;
padding-top:1vw;
}
.endfooter{
    flex:2;
    text-align: center;
    padding-top:1vw;
}
.cssvalidator{
    position:fixed;
    bottom:10vh;
    left:90vw;
    width:10vw;
    height:4vh;
    opacity:50%;
        }
        .htmlvalidator{
            position:fixed;
            bottom:15vh;
            left:90vw;
            width:10vw;
            height:7vh;
            padding-bottom:1vh;
            opacity: 50%;
                }