*{box-sizing: border-box;
margin:0;
padding:0;}
header{
    text-align: center;
    background-color: rgb(110, 93, 72);
    color:beige;
    font-size:4vh;
    font-weight: large;
}
h3{
    margin-left:3vh;
}
#input1,#input2{
    margin-top:0.5vh;
    margin-left:3vh;
    width:10vw;
    height:3vh;
    background-color: darkgrey;
    font-size:2vh;
}

#btn{
    background-color: rgb(218, 167, 100);
    font-size:2vh;
    margin-top:0.5vh;
    padding-left:4px;
    padding-right:4px;

    /* margin-left:5vh; */

}
#btn:hover{
    background-color: rgb(16, 23, 226);
    color:rgb(9, 231, 20);
    transform:scale(1.2);
}
#btn:active{
    background-color: rgb(218, 167, 100);
    font-size:2vh;
    transform:scale(0.85);
}
.inline{
    display:inline-flex;
    text-align: center;
}
fieldset{
    margin-left:auto;
    margin-right:auto;
    margin-top:3vh;
    width:40vw;
    height:15vh;
    border:2vh solid rgb(187, 231, 231);
    border-radius: 5vh;
    text-align: center;
}
footer{
    position:absolute;
    bottom:0;
    background-color: khaki;
    font-size:small;
    width:100vw;
    height:4vw;
    }
    footer>div{
        display:inline-flex;
        width:100%;
                            
    }
    .beginfooter{
        flex:3;
        text-align: center;
        padding-top:1vw;
                            
        }
    .midfooter{
        flex:7;
        text-align: center;
        padding-top:1vw;
        }
    .endfooter{
        flex:2;
        text-align: center;
        padding-top:1vw;
        }
