*{
box-sizing:border-box
}
body{
background-image:url("./images/background.png");
font-size:8pt;
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin:0;
padding:0;
}
header{
    background-image: url("./images/bannerbg.png");
    background-repeat: repeat;
    height:50px;
   text-align: center;;
}
header img{
    height:50px;  
}
.movieheader{
    font-size:24px;
    
    font-family:'Tahoma, Verdana, sans-serif';
    text-align: center;
    text-shadow: 3px 3px 2px #999999;
}
main{
    position:absolute;
    left:0;
    right:0;
    top:12vh;
    display:inline-flex;
    border: 4px solid gray;
    border-radius:20px;
    width:800px;
    /* height:fit-content; */
    margin-left: auto;
    margin-right: auto;
    
}
.main-1{
    position:absolute;
    left:0;
    right:0;
    top:12vh;
    border: 4px solid gray;
    border-radius:20px;
    width:800px;
    margin-left: auto;
    margin-right: auto;

}
.section1{
    width:550px;

   
}
.reviewbar{
    display:inline-flex;
    background-image:url('./images/rbg.png');
    background-repeat: repeat; 
    width:100%;
    height:83px;
    border-top-left-radius: 16px;
    
}
.reviewbarimg{
    margin-left:1vw;
    margin-right:1vw;
    
}
.reviewbartext{
    color:red;
    font-size:48pt; 
    
}
.inline{
    display:inline-flex;
    width:100%;
}
.column{
    width:50%;
}

.comment{
    float:left;
    width:94%;
    height:fit-content;
    margin:2% 1% 2% 2%;
    border:2px solid gray;
    border-radius: 10px;
    padding:8px;
    font-size:8pt;
    font-weight:bold;
    background-color:#E8DC9B;
}
.commentimg{
   margin-right:5px;
   float:left;
  
}
.criticsection{
clear:both;
margin-bottom:20px;

}
.criticlayout{
    display:inline-flex;
    margin-right:5px;
}
span{
    font-style:italic;
}
.section2{
    width: 250px;
    background-color: #A2B964;
    font-size:8pt;
    font-family: Arial, sans-serif;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.movieimg{
    width:250px;
    margin-bottom: 10pt;
    border-top-right-radius: 14pt;
}
.moviedetail{
    margin-left:10pt;
}
dt{
    font-weight:bold;
}
dl{  
    margin-bottom: 10pt;
}
footer{
    background-color: #A2B964;
    margin-left:5px;
    margin-right:5px;
    width:800px;
}
.css-validator{
position:fixed;
bottom:10vh;
left:85vw;
width:10vw;
height:5vh;
    }
    .html-validator{
        position:fixed;
        bottom:15vh;
        left:85vw;
        width:10vw;
        height:6vh;
        padding-bottom:1vh;
            }
            
    

