html{
    background-color: rgb(239, 208, 168);
}
body{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
header{
  
    height:10vh;
    border-bottom: 6vh  solid lightgreen;
    border-top:1vh solid lightgreen;
    background-color:darkkhaki;
    border-left: 3vw solid lightgreen;
    border-right: 3vw solid lightgreen;
    
}

header>div{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:6vh;
}
header a{
    text-decoration:none;
    color:black;
}

main{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2vh;
    line-height: 4vh;
}

header a:active{
    color:white;
}
section{
    display:inline-flex;
    width:100vw;
    height:28vh;
    background-color:rgb(250, 212, 212);
}
section>div{
    margin-left:5vw;
}
label{
    font-size:2.5vh;;
}
h2{
    line-height:2.5vh;
    margin-bottom:0;
}

#btn_1,#btn_2,#btn_3,#btn_4,#btn_5,#cancelBtn, #linkedBtn{
    font-size:3vh;
    background-color: cadetblue;
    margin-top:4vh;
    margin-right:2vh;
    border-radius:1vh;
    border-color:rgb(83, 66, 60);

}
#linkedBtn:hover{
    transform:scale(1.1); 
    background-color: chartreuse;
    border-color:rgb(191, 167, 167);
}

#btn_1:hover,#btn_2:hover,#btn_3:hover,#btn_4:hover,#btn_5:hover,#cancelBtn:hover{
    transform:scale(1.1); 
    background-color: chartreuse;
    border-color:black;
}
#btn_1:active,#btn_2:active,#btn_3:active,#btn_4:active,#btn_5:active,#cancelBtn:active{
    transform:scale(0.85);
    background-color: black;
    color:white;
}
#btn_3,#btn_5, #cancelBtn{
    margin-left:2vh;
}
.labelblock{
    display:inline-block;
    width: 12vw;
    text-align:left;
    font-size:2.5vh;
    font-weight:bold;
}
hr{
    border:2px dashed rgb(233, 76, 19);
}
.labelgapper{
    margin-left:2vh;
}
.textareagapper{
    width:20vw;
    height:10vh;
 }
 fieldset{
     font-weight:bold;
     font-size:3vh;
     border:4vh solid rgb(204, 183, 158);
 }
 #accountList{
    background-color: burlywood;
    box-shadow:-3px 0 4px inset;
    
}
input{
    background-color: antiquewhite;
    font-size:2.5vh;
}

footer{
    position:fixed;
    bottom:0;
    color: khaki;
    background-color: black;
    font-size:small;
    width:100vw;
    height:10vh;
}
footer>div{
    display:inline-flex;
    width:100%;
align-items:last baseline;
}
.beginfooter{
    flex:4;
    text-align: center;
}
.midfooter{
flex:5;
text-align: center;
}
.endfooter{
    flex:4;
    text-align: center;
}
pre{
    font-size:1vw;
    margin-left:4vw;
    margin-right:0.5vw;
    text-align:left;
}
pre>a{
    color:aqua;
}
