#depositModal{
    background-color: gray;
    margin-right:2vw;
    margin-left:0;
    padding-right:1vw;
    padding-left:1vh;
}
#withdrawalModal{
    padding-right:2vw;
}
#accountfinder{
    font-size:2.5vh;
    margin-right:5vw;
}
#deposit,#depositAccount{
    background-color: rgb(82, 80, 77);
    font-size:2vh;
    
}
input, #withdrawalAccount{
    background-color: antiquewhite;
    font-size:2.5vh;
}