html{
    background-color: rgb(239, 208, 168);
}
body{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
header{
  
    height:10vh;
    border-bottom: 6vh  solid lightgreen;
    border-top:1vh solid lightgreen;
    background-color:darkkhaki;
    border-left: 3vw solid lightgreen;
    border-right: 3vw solid lightgreen;
    
}

header>div{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:6vh;
}
header a{
    text-decoration:none;
    color:black;
}
p{ margin-top:4vh;
    color:rgb(92, 7, 142);
    font-weight: bold;
    font-size:2vw;
    text-align:center;
}
.customerService{
    position: absolute;
    margin-left:0;
    bottom:10vh;
    width:60vw;
    height:73vh;
}
.pennyStack{
    position: absolute;
    margin-left:60vw;
    bottom:10vh;
    width:40vw;
    height:50vh;
}
.moto{
    position: absolute;
    margin-left:65vw;
    margin-right:10vw;
    width:30vw;
    margin-top:10vh;
    line-height: 3vh; 
   
}
main{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2vh;
    line-height: 4vh;
   
}
section{
    display:inline-flex;
    height:28vh;
}
section>div{
    margin-left:5vw;
    margin-right:5vw;
}
hr{
    border:2px dashed rgb(233, 76, 19);
    
}

#btn_2,#btn_3,#btn_4,#btn_5,#cancelBtn, #linkedBtn{
    font-size:3vh;
    background-color: cadetblue;
    margin-top:4vh;
    margin-right:3vh;
    border-radius:1vh;
    border-color:orangered;

}
header a:active{
    color:white;
}
#btn_2:hover,#btn_3:hover,#btn_4:hover,#btn_5:hover,#cancelBtn:hover{
    transform:scale(1.1);
    background-color: chartreuse;
    border-color:black;
}
#btn_2:active,#btn_3:active,#btn_4:active,#btn_5:active,#cancelBtn:active{
    transform:scale(0.85);
    background-color: black;
    color:white;
}
#btn_3,#btn_5, #cancelBtn{
    margin-left:5vh;
}
.buttonAlign{

}
footer{
    position:fixed;
    bottom:0;
    color: khaki;
    background-color: black;
    font-size:small;
    width:100vw;
    height:10vh;
}
footer>div{
    display:inline-flex;
    width:100%;
align-items:last baseline;
}
input, #withdrawalAccount,#depositAccount{
    background-color: antiquewhite;
    font-size:2vh;
}
.labelblock{
    display:inline-block;
    width: 12vw;
    text-align:left;
    font-size:2vh;
    font-weight:bold;
}
.labelgapper{
    margin-left:2vh;
}
#accountList{
    background-color: burlywood;
    box-shadow:-3px 0 4px inset;

}
h3{
    line-height:2.5vh;
    margin-bottom:0;
}
#accountfinder{
    font-size:2.5vh;
}
.beginfooter{
    flex:4;
    text-align: center;
}
.midfooter{
flex:5;
text-align: center;
}
.endfooter{
    flex:4;
    text-align: center;
}
pre{
    font-size:1vw;
    margin-left:4vw;
    margin-right:0.5vw;
    text-align:left;
}
pre>a{
    color:aqua;
}
.gg{
    width:100vw;
    height:20vh;
}
